
@{
    Layout = "_LayoutAuthenticated";
}

@model IEnumerable<Card>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Cards/AccountsAndCards.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Accounts/accounts.css" />
</head>
<body style="background-color: #cfd8dc;">
    <div class="container">

        <br />
        <h3 style="color: #778899"><b>ACCOUNTS AND CARDS</b></h3>
        <br />
        <div style="justify-content: space-around">

            <div class="container-accounts">

                @if (ViewBag.Account == null)
                {
                    <p>
                        <a asp-controller="Accounts" asp-action="Create" class="buttons MyButtons">Create New</a>
                    </p>
                    <img src="~/images/889844.svg" class="img-cursor" alt="mouse-cursor"/>
                    <h4 class="Message">you have no account right now, click 'create' to make one</h4>
                }
                else if (Model.Count() != 0 || Model != null)
                {
                    <div class="container1">
                        <div class="container-box">
                            <a type="submit" class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal">Request Card</a>
                        </div>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            Request Card
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form" asp-controller="Cards" asp-action="RequestCard" method="post" id="reused_form">
                                            <div>
                                                <select name="cardType">
                                                    <option disabled selected>Select Card type</option>
                                                    <option>MasterCard</option>
                                                    <option>Visa</option>
                                                    <option>American Express</option>
                                                </select>
                                            </div>
                                            <br />

                                            <button type="submit" asp-controller="Cards" asp-action="RequestCard" class="btn btn-outline-success"> Request </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @foreach (var card in Model)
                    {
                        @if (card.Status == "Active")
                        {
                            <div class="card mt-3 tab-card" style="width: 100%;justify-items: center;border-radius: 10px;background-color: #eceff1">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                                        <h5 class="card-title"><b>@card.CardType</b></h5>
                                        <p class="card-text">Card Number:  **** **** **** @card.CardNumber.Substring(12)</p>
                                        <p class="card-text">Account balance:  @card.Account.Balance GEL</p>
                                        <a asp-action="TransferAndPayment" class="btn btn-outline-secondary" style="margin-right: 0.15cm; margin-bottom: 0.1cm"><b>Transfer</b></a>
                                        <a asp-action="TransferAndPayment" class="btn btn-outline-secondary" style="margin-right: 0.15cm; margin-bottom: 0.1cm"><b>Replenish</b></a>
                                        <a asp-controller="Accounts" asp-action="Details" asp-route-id="@card.AccountId" class="btn btn-outline-info"><b>Account Details</b></a>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
        </div>
        <br />
        <div>
            @if (ViewBag.history != null && ViewBag.history.Count != 0)
            {
                <table class="table" style="border-radius: 5px;background-color: #eceff1">
                    <thead>
                        <tr>
                            <th>
                                <b>Operation Date</b>
                            </th>
                            <th>
                                <b>Operation Description</b>
                            </th>
                            <th>
                                <b>Operation Amount</b>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.History as List<TransactionsHistory>)
                        {
                            <tr>
                                <td>
                                    @item.Date
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    -@item.Amount @item.Currency
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            </div>
    </div>
</body>
</html>




