<!DOCTYPE html>
@{
    Layout = "";
}

@model ValidationUser


@functions{
    public string CheckForErrors(string error, string secondError = null, string success = null)
    {
        if (error != null || secondError != null)
        {
            <div class="alert alert-danger">
                <img src="https://img.icons8.com/office/25/000000/high-risk.png/" style="position:absolute; display:inline-flex;" />
                @if (error != null)
                {<p style="margin-inline-start: 34px;">@Html.Raw(error)</p>}

                else
                { <p style="margin-inline-start: 34px;"> @Html.Raw(secondError)</p>}
            </div>
        }
        else if (success != null)
        {
            <div class="alert alert-success">
                <img src="https://img.icons8.com/doodle/25/000000/ok.png" style="position:absolute; display:inline-flex;" />
                <strong style="margin-inline-start: 34px;">@Html.Raw(success)</strong> Please check your email to verify it's you
            </div>
        }
        return string.Empty;
    }
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] TBC Academy Bank</title>
    <link rel='icon' href='~/images/abico.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/font-awesome-4.7.0/css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/util.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/main.css")">
</head>

<body style="background-color: #666666;">
    <div class="row">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" asp-action="ForgotPassword">
                        <span class="login100-form-title p-b-43">
                            Forgot Password
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Email is required: email@email.com">
                            <input class="input100 form-control" type="email" name="email">
                            <span class="focus-input100"></span>
                            <span asp-validation-for="Email" class="label-input100">Email</span>
                        </div>
                        @CheckForErrors(ViewBag.EmailExistsError)
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" id="password-field" type="password" asp-for="Password" name="newPass">
                            <span asp-validation-for="Password" class="focus-input100"></span>
                            <span asp-validation-for="Password" class="label-input100">New Password</span>
                            <span toggle="#password-field" style="color:#00AFEE;" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        @CheckForErrors(ViewBag.PasswordIsWeak, ViewBag.SomethingWentWrong, ViewBag.EmailSent)
                        <div class="container-login100-form-btn-1">
                            <button type="submit" asp-action="ForgotPassword" class="login100-form-btn" style="font-family: Montserrat-Bold; text-decoration: none">
                                Continue
                            </button>
                            <br />
                            <br />
                            <br />
                            <a asp-action="Login" type="submit" style=" color:#00AFEE; font-family: Montserrat-Bold; text-decoration: none">
                                Login
                            </a>
                            <br />
                        </div>
                    </form>

                    <div class="login100-more" style="text-align:center">
                        <img src="~/images/LOGOACADEMY.png" style="height:40%;
                                                                margin-top:22%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
</body>
</html>