<!DOCTYPE html>
@{
    Layout = "";
}

<html lang="en">
<head>
    <title>@ViewData["Title"] TBC Academy Bank</title>
    <link rel='icon' href='~/images/abico.ico' type='image/x-icon' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/font-awesome-4.7.0/css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/util.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/main.css")">
</head>

<body style="background-color: #666666;">
    <div class="row">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" asp-action="Login">
                        <span class="login100-form-title p-b-43">
                            Welcome
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: email@email.com">
                            <input class="input100 form-control" type="text" name="input">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Email / Phone Number</span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input id="password-field" class="input100" type="password" name="password">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Password</span>
                            <span toggle="#password-field" style="color:#00AFEE;" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">
                                <img src="https://img.icons8.com/office/25/000000/high-risk.png/" style="position:absolute; display:inline-flex;" />
                                <p style="margin-inline-start: 34px;">@Html.Raw(ViewBag.ErrorMessage)</p>
                            </div>
                        }
                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div>
                                <a asp-action="ForgotPassword" class="txt1">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">
                                Login
                            </button>
                        </div>

                        <br />

                        <div class="container-login100-form-btn-1">
                            <a asp-action="Register" style="color: #00AFEE; font-family: Montserrat-Bold; text-decoration: none">
                                Sign up
                            </a>
                        </div>
                    </form>

                    <div class="login100-more" style="text-align:center">
                        <img src="~/images/LOGOACADEMY.png" style="height:40%;
                                                                margin-top:22%;display:flex">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>