@model PagedList.IPagedList<AcademyBank.Models.User>
@using PagedList;
@using PagedList.Mvc;

@using AcademyBank.Web.Models;
@{
	ViewData["Title"] = "DepositManagment";
	Layout = "~/Views/Shared/_LayoutAdminCp.cshtml";

	var currentPage = (ViewContext.HttpContext.Request.Query["page"].Count == 0)
		? 1
		: int.Parse(ViewContext.HttpContext.Request.Query["page"]);

	int counter = (Model.PageSize * (currentPage - 1)) + 1;

	var urlParamOrdervalue = ViewContext.HttpContext.Request.Query["orderBy"];
}


<h3 class="ui horizontal divider header">
	Blocked Users
</h3>

<table class="ui sortable celled table">
	<thead>
		<tr>
			<th>№</th>
			@{
				Html.RenderPartial("~/Views/Partials/_AdminTableSortablePartial.cshtml", new List<TablePartialModel> {
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "Firstname", OrderDesc="FirstnameDesc", DisplayName = "Firstname",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage },
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "Lastname", OrderDesc="LastnameDesc", DisplayName = "Lastname",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage },
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "Sex", OrderDesc="SexDesc", DisplayName = "Sex",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage },
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "Mail", OrderDesc="MailDesc", DisplayName = "Mail",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage },
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "Phone", OrderDesc="PhoneDesc", DisplayName = "Phone",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage },
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "PassportId", OrderDesc="PassportIdDesc", DisplayName = "Passport ID",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage },
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "City", OrderDesc="CityDesc", DisplayName = "City",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage },
					new TablePartialModel { UrlParamOrdervalue = urlParamOrdervalue, Order = "Address", OrderDesc="AddressDesc", DisplayName = "Address",Action = "BlockedUsers", Controller = "Admin", CurrentPage =currentPage }
				});
			}

			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@(counter++)</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserInfo.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserInfo.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserInfo.Sex)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserInfo.PassportId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserInfo.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserInfo.Address)
				</td>
				<td>
					<a asp-controller="Admin" asp-action="BlockedUsersDetails" asp-route-id="@item.Id" data-tooltip="Details" data-position="bottom center" class="details-icon"><i class="info circle icon"></i></a>
					<a asp-controller="Admin" asp-action="UnBlockUser" asp-route-id="@item.Id"  data-tooltip="Unblock" data-position="bottom center" class="approve-icon"><i class="check icon"></i></a> 
				</td>
			</tr>
		}
	</tbody>



</table>




<hr />
@Html.Partial("~/Views/Partials/_TablePagingFooterPartial.cshtml", new TablePagingModel { Action = "BlockedUsers", Controller = "Admin", UrlParamOrdervalue = urlParamOrdervalue, CurrentPage = currentPage, PageCount = Model.PageCount })